.wrapper {
  background-color: #656464;
  min-height: 100vh;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding: 20px 0;
  background-color: #c6c4c4;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
  flex-wrap: wrap;
}

.doctorsmall {
  padding: 20px;
  background-color: #c6c4c4;
  width: min(40vw, 400px);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.doctorsmall-up,
.doctorsmall-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctorsmall-specialty {
  font-size: 36px;
  font-weight: 600;
}

.doctorsmall-name {
  font-size: 24px;
}

.doctorsmall-count,
.doctorsmall-rating {
  font-size: 20px;
}

.doctorsmall-rating {
  display: flex;
  gap: 5px;
  align-items: center;
}

.doctor {
  background-color: #c6c4c4;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: min(80vw, 800px);
  margin: 30px auto 0;
}

.doctor-name {
  font-size: 36px;
}

.doctor-specialty {
  font-size: 24px;
}

.record-block {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.record-days,
.record-hours {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 5px;
}

.record-hour,
.record-day {
  padding: 5px;
  border: 1px solid #000;
  text-align: center;
  border-radius: 16px;
}

.record-day:hover,
.record-hour:hover,
.is-active {
  /* cursor: pointer; */
  background-color: #ebe23a;
  cursor: pointer;
}

.is-disabled {
  background-color: #4f4747;
}
.is-disabled:hover {
  background-color: #4f4747;
  cursor: auto;
}

.record-submit {
  align-self: center;
  padding: 8px 24px;
  font-size: 20px;
  border-radius: 12px;
}

.my-input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: min(80vw, 800px);
}

.my-input:focus {
  border-color: #656464;
  box-shadow: 0 0 4px #656464;
}

.my-input::placeholder {
  color: #aaa;
}

.home-page {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
